@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600,700,800");
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #d9d9d9 !important;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#splash {
    position: relative;
    text-align: center;
    width: 100%;
    height: 1080px;
}
#splash img {
    display: block;
    width: 100%;
    height: 1080px;
    filter: brightness(30%);
}

#heading {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-blur {
    background-color: #222222;
    opacity: .3;
}

#nav {
    position: absolute;
    top: 2%;
    width: 100%;
    right: 35%;
}

#nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}

#nav a:hover {
    text-decoration: underline;

}

#nav > #right {
    float: right;
}
#nav > #right a {
    position: relative;
    padding-left: 25px;
}
#roster {
    background-color: #222222;
    color: #d9d9d9;
    width: 100%;
    height: 750px;
}
.sectionTitle {
    position: relative;
    font-weight: bold;
    text-align: center;
    top: 25px;
}
.sectionTitle h2 {
    text-decoration: underline;
    text-decoration-color: #177bbd;
}
.container {
    text-align: center !important;
    position: relative;
    top: 75px;
}